language: node_js

node_js:
  - "node"

sudo: false

git:
  submodules: false

before_script:
  - npm install

script:
  - npm start &
  - sleep 10
  - npm run mocha

after_success:
  - npm run report-coveralls
  - npm run report-codecov

env:
  global:
    - MOZ_HEADLESS=1
addons:
  firefox: latest
