//styles the ul element
.topnav {
  background-color: #96b9b9;
  color: white;
  padding: 1em 0 1em 0;
  list-style: none;
}

li{
  float: left;
}

a {
  text-decoration: none;
  color: white;
  margin-left: 1em;
  padding-bottom: 1em;
}
